@model IList<Park>
@{
    ViewData["Title"] = "Index";
}

@foreach (Park park in Model)
{
    <div>
        <a asp-controller="Parks" asp-action="Detail" asp-route-code="@park.ParkCode"><img src="~/img/parks/@(park.ParkCode).jpg" /></a>
        <div>
            <a asp-controller="Parks" asp-action="Detail" asp-route-code="@park.ParkCode">
                <h2>@park.ParkName</h2>
            </a>
            <p>@park.State</p>
            <p>@park.ParkDescription</p>
        </div>
    </div>
}

